{{ define "modal-seguidores" }}
<div class="modal fade" id="modal-seguidores">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Seguidores</h2>
            </div>
            <div class="modal-body">
                {{ range .Seguidores }}
                    <a href="/usuarios/{{ .ID }}">{{ .Nick }}</a> <br/>
                {{ else }}
                    <p class="text-muted text-center">
                        Nenhum seguidor por enquanto...
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}