<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Editar Usuário</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar Dados</h3>
                <form id="editar-usuario">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" 
                        placeholder="Insira o seu nome" value="{{ .Nome }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" 
                        placeholder="Insira o seu email" value="{{ .Email }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="nick">Nick</label>
                        <input type="text" class="form-control" id="nick" name="nick" 
                        placeholder="Insira o seu nick" value="{{ .Nick }}" required="required">
                    </div>
                    <button type="submit" class="btn btn-info">Atualizar Dados</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "rodape" }}
    {{ template "scripts" }}
    <script src="/assets/js/usuario.js"></script>
</body>