<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Login</title>

    
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Seja bem vindo ao DevBook!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <a href="/criar-usuario"> Clique aqui para criar a sua conta </a>
                <button type="submit" class="btn-devbook">Login</button>
            </form>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/login.js"></script>
</body>

</html>